html, body {
    font-family: sans-serif;
}
$text-color-grey: rgb(145, 143, 143);
$color-grey: rgba(247, 242, 242, 0.8);
$text-color-black: rgba(0, 0, 0, 0.932);

$text-color-white: white;
$color-black: rgb(0, 2, 17);
$color-black-blur: rgb(0, 1, 41);
$color-white: white;
$margin-bot-short: 10px;
@mixin margin-bot($value) {
    margin-bottom: $value;
}
$border-radius-item: 7px;
@mixin hr-top($bgColor) {
            position: absolute;
            width: 100%;
            height: 5px;
            top: 0;
            border-top-left-radius: $border-radius-item;
            border-top-right-radius: $border-radius-item;
            overflow: hidden;
            background-color: $bgColor;
}
@keyframes leftToRight {
    0% {
   
    }
    100% {
        transform: translate(30px, -50%);
    }
}
@keyframes rightToLeft {
    0% {
        transform: translate(30px, -50%);
    }
    100% {
        transform: translate(3px, -50%);
    }
}

.wrapper,
.mode {
    background: $color-white;
}
.wrapper.dark-mode {
    .mode {
        background-color: $color-black;
        h2,
        h3,
        .followers__number,
        .followers__text,
        .overview__number,
        .overview__percent
        {
            color: $color-white;
    
        }
        .followers__item,
        .overview__box
        {
            background-color: $color-black-blur;
        }
    }
  
    
}
.margin-bot-sm {
    margin-bottom: 15px;
}
.menu-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    &__content {

    }
    &__heading {
        font-weight: 700;
        font-size: 1.6rem;

    }
    &__info-total {
        color: $text-color-grey;
    }
    &__dark-mode {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .dark-mode-name {
            color: $text-color-grey;
            font-weight: 600;
            margin-right: 10px;
        }
        .btn {
            cursor: pointer;
            width: 60px;
            height: 30px;
            display: block;
            transition: all .8s;
            outline: none;
            border: none;
            box-shadow: .5px .5px 2px rgba(0,0,0, $alpha: 0.4);
            &--switch {
                position: relative;
               border-radius: 20px;
                -webkit-appearance: none;
                background: linear-gradient(to right, hsl(167, 90%, 50%),  hsl(128, 80%, 53%));
                &::before {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    top: 50%;
                    left: 4px;
                    transform: translateY(-50%);
                    background-color: white;
                    box-shadow: 1px .6px 2px rgba(0,0,0, $alpha: 0.4);
                    animation: rightToLeft .5s forwards;

                }
                &:checked::before {
                    animation: leftToRight 0.5s forwards;
                }
               
               
            }
        }
    }
}
.followers {
    display: flex;
    
    &__item {
        position: relative;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: $color-grey;
        display: flex;
        padding: 40px 0px 20px 0px;
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
        border-radius: $border-radius-item;
        cursor: pointer;
        &:hover {
            background-color: rgb(223, 223, 223);
        }
        .hr-top-fb {
            @include hr-top( rgb(0, 162, 255));
        }
        .hr-top-twitter {
            @include hr-top( rgb(0, 247, 255));
        }
        .hr-top-insta {
            @include hr-top( rgb(255, 0, 64));
        }
        .hr-top-youtube {
            @include hr-top( rgb(255, 0, 0));
        }
    }
    &__info {
        display: flex;
        align-items: center;
        @include margin-bot(20px);
        svg {
            margin-right: 5px;
        }
    }
    &__name {
        font-size: 1rem;
        color: $text-color-grey;

    }
    &__number {
        @include margin-bot(5px);
        font-size: 3rem;
        font-weight: 600;
        color: $text-color-black;
    }
    &__text {
        text-transform: uppercase;
        color: $text-color-grey;
        letter-spacing: 5px;
        font-size: .8rem;
        font-weight: 500;
        @include margin-bot(20px);
    }
    &__date {
        svg {
            margin-right: 5px;
        }
        display: flex;
        align-items: center;
        color: rgb(17, 168, 160);
    }
}
.overview {
    &__heading {
        margin: 30px 0;
        font-size: 1.5rem;
        color: $text-color-grey;
        font-weight: 600;
    }
    &__box {
        background-color: $color-grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 20px;
        border-radius: $border-radius-item;
        box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        // justify-content: 
        &:hover {
            background-color: rgb(223, 222, 222);
        }
    }
    &__info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        svg {

        }
    }
    &__text {
        color: $text-color-grey;
        font-weight: 500;
    }
    &__satistic {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__number {
        font-size: 2rem;
        color: $text-color-black;
        font-weight: 600;

    }
    &__percent {
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        &--up {
            color: rgb(3, 192, 3);
        }
        &--down {
            color: rgb(192, 3, 3);
        }
        svg {
            margin-right: 3px;
        }
    }
}